# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec
build/
dist/

# Project Specific
ffmpeg.exe
*.mpgif
*.mp4
*.gif
*.webm

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
